<section class="page page-sale">
  <div class="page__content page__content--wide">
    <div class="page__hero">
      <h1 class="page__title">Comfort, audio, immersione</h1>
      <p class="page__text">
        Elenco completo delle sale disponibili.
      </p>
    </div>

    @if (cards$ | async; as cards) {
      <div class="cards-grid cards-grid--sale">
        @for (card of cards; track card.title) {
          <app-showcase-card [title]="card.title" [subtitle]="card.subtitle" [centered]="true" [large]="true" />
        }
      </div>
    }
  </div>
</section>
